<div class="container mx-auto px-5 text-center pt-20">
  <h1 class="text-4xl font-bold mb-4">コードストックアプリへようこそ</h1>
  <p class="text-lg mb-8">あなたのコードを簡単に保存、管理、共有できます。</p>
  <div>
    <div>
      <%= link_to "ログイン", new_user_session_path, class: "bg-black text-white btn min-w-24" %>
      <%= link_to "新規登録", new_user_registration_path, class: "bg-black text-white btn min-w-24" %>
    </div>
    <%= link_to "コードを見る", codes_path, class: "border-black bg-white text-black btn min-w-48 mt-1" %>
  </div>
</div>
