<% if resource.errors.any? %>
  <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-5 rounded" role="alert">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
