
<div class="container bg-gray-200 mx-auto my-20">
  <h2 class="text-center text-3xl">ログイン123</h2>
  <div class="flex">
    <form action="" class="w-1/2">
      <input type="email" name="" id="" placeholder="E-mail" class="block mx-auto">
      <input type="password" name="" id="" placeholder="Password" class="block mx-auto">
      <button type="submit" class="block mx-auto">ログイン</button>
    </form>
    <div class="w-1/2">
      <button href="#" class="block mx-auto">Googleでログイン</button>
      <button href="#" class="block mx-auto">Githubでログイン</button>
    </div>
  </div>
</div>
