<div class="flex my-4 tb:flex-col">
  <%# // タブの切り替え %>
  <div role="tablist" class="tabs tabs-lifted flex-1 grid grid-cols-[auto_auto_1fr_auto] place-content-start">
    <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab bg-base-100 [--tab-bg:#333333] checked:text-white csustom-tag-width"
      id="HTML_tab"
      aria-label="HTML"
      checked="checked"
      />
    <div role="tabpanel" class="tab-content bg-customGray border-base-300 rounded-box">
      <div id="editor_HTML" class=""></div> <%# HTML_editor挿入位置 %>
    </div>

    <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab bg-base-100 [--tab-bg:#333333] checked:text-white csustom-tag-width"
      id="CSS_tab"
      aria-label="CSS"
      />
    <div role="tabpanel" class="tab-content bg-customGray border-base-300 rounded-box">
      <div id="editor_CSS" class=""></div> <%# CSS_editor挿入位置 %>
    </div>

    <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab bg-base-100 [--tab-bg:#333333] checked:text-white csustom-tag-width"
      id="JS_tab"
      aria-label="JS"
      />
    <div role="tabpanel" class="tab-content bg-customGray border-base-300 rounded-box">
      <div id="editor_JS" class=""></div> <%# JS_editor挿入位置 %>
    </div>

    <label class="flex mr-4 items-center h-8 cursor-pointer px-2 tb:mr-2" data-action="click->code-title-edit#tailwind">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 128 128" fill="#38bdf8" class="mr-1" id="tailwindIcon"><path d="M64.004 25.602c-17.067 0-27.73 8.53-32 25.597 6.398-8.531 13.867-11.73 22.398-9.597 4.871 1.214 8.352 4.746 12.207 8.66C72.883 56.629 80.145 64 96.004 64c17.066 0 27.73-8.531 32-25.602-6.399 8.536-13.867 11.735-22.399 9.602-4.87-1.215-8.347-4.746-12.207-8.66-6.27-6.367-13.53-13.738-29.394-13.738zM32.004 64c-17.066 0-27.73 8.531-32 25.602C6.402 81.066 13.87 77.867 22.402 80c4.871 1.215 8.352 4.746 12.207 8.66 6.274 6.367 13.536 13.738 29.395 13.738 17.066 0 27.73-8.53 32-25.597-6.399 8.531-13.867 11.73-22.399 9.597-4.87-1.214-8.347-4.746-12.207-8.66C55.128 71.371 47.868 64 32.004 64zm0 0"/></svg>
      <input type="checkbox" id="tailwindCheck" class="toggle toggle-sm toggle-info tb:hidden" checked="checked" />
    </label>
    <button class="justify-self-end h-8 place-content-center flex items-center hover:opacity-50 cursor-copy tb:px-2" id="copyBtn">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="currentColor" class="opacity-70 text-black">
        <path d="M12.75 17.5V19.0625C12.75 19.5803 12.3303 20 11.8125 20H1.1875C0.669727 20 0.25 19.5803 0.25 19.0625V4.6875C0.25 4.16973 0.669727 3.75 1.1875 3.75H4V15.3125C4 16.5187 4.98129 17.5 6.1875 17.5H12.75ZM12.75 4.0625V0H6.1875C5.66973 0 5.25 0.419727 5.25 0.9375V15.3125C5.25 15.8303 5.66973 16.25 6.1875 16.25H16.8125C17.3303 16.25 17.75 15.8303 17.75 15.3125V5H13.6875C13.1719 5 12.75 4.57812 12.75 4.0625ZM17.4754 2.85043L14.8996 0.27457C14.7238 0.0987666 14.4853 1.29998e-06 14.2367 0L14 0V3.75H17.75V3.51332C17.75 3.26469 17.6512 3.02624 17.4754 2.85043Z"/>
      </svg>
      <span class="items-center px-2 tb:hidden">Copy</span>
    </button>
    <div class="justify-self-end h-8 place-content-center flex items-center hidden" id="copiedText">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="none">
        <path d="M8.4911 21.4554L0.366101 13.3304C-0.122034 12.8422 -0.122034 12.0508 0.366101 11.5626L2.13383 9.79481C2.62196 9.30663 3.41346 9.30663 3.9016 9.79481L9.37499 15.2682L21.0984 3.54481C21.5865 3.05668 22.378 3.05668 22.8662 3.54481L24.6339 5.31259C25.122 5.80072 25.122 6.59218 24.6339 7.08036L10.2589 21.4554C9.77069 21.9435 8.97924 21.9435 8.4911 21.4554Z" fill="#3BC85A"/>
      </svg>
      <span class="items-center px-2">Copied</span>
    </div>
  </div>
  <iframe id="live_frame" class="flex-1 bg-white border-2 border-customGray mt-8 overlay-active"></iframe>
</div>
