<%= render 'devise/shared/error_messages', resource: @code %>
<div class="container mx-auto px-5">
  <%= render partial: 'codes/editForm', locals: { model: @code } %>
  <%= render partial: 'codes/editorComponent' %>
</div>
