
<div class="container bg-gray-200 mx-auto my-20">
  <h2 class="text-center">パスワード再発行</h2>
  <div class="flex">
    <form action="">
      <input type="email" name="" id="" placeholder="E-mail" class="block mx-auto">
      <button type="submit" class="block mx-auto">再発行申請</button>
    </form>
  </div>
</div>
