<% flash.each do |message_type, message| %>
  <div class="<%= flash_background_color(message_type) %> border-l-4  px-4 py-2 rounded-md mb-4 container w-100 mx-auto">
    <%= message %>
  </div>
<% end %>
