<footer class="foot_gap footer footer-center bg-gray-200 text-base-content rounded px-10 py-4">
  <div class="flex w-100 justify-between container">
    <nav class="grid grid-flow-col gap-5">
      <a class="link link-hover"><%= t('footer.contact') %></a>
      <a class="link link-hover"><%= t('footer.terms') %></a>
      <a class="link link-hover"><%= t('footer.privacy') %></a>
    </nav>
    <nav>
      <div class="grid grid-flow-col gap-4">
        <a>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="mage:x">
              <path id="Vector" d="M29.585 5H34.6966L23.53 17.7083L36.6666 35H26.38L18.325 24.5117L9.10665 35H3.98998L15.935 21.4083L3.33331 5H13.88L21.1633 14.5867L29.585 5ZM27.7916 31.9533H30.625L12.34 7.88667H9.29998L27.7916 31.9533Z" fill="#333333"/>
            </g>
          </svg>
        </a>
        <a>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="mdi:github">
              <path id="Vector" d="M20 3.33337C17.8113 3.33337 15.644 3.76447 13.6219 4.60205C11.5998 5.43963 9.76251 6.66728 8.21487 8.21493C5.08926 11.3405 3.33331 15.5798 3.33331 20C3.33331 27.3667 8.11665 33.6167 14.7333 35.8334C15.5666 35.9667 15.8333 35.45 15.8333 35V32.1834C11.2166 33.1834 10.2333 29.95 10.2333 29.95C9.46665 28.0167 8.38331 27.5 8.38331 27.5C6.86665 26.4667 8.49998 26.5 8.49998 26.5C10.1666 26.6167 11.05 28.2167 11.05 28.2167C12.5 30.75 14.95 30 15.9 29.6C16.05 28.5167 16.4833 27.7834 16.95 27.3667C13.25 26.95 9.36665 25.5167 9.36665 19.1667C9.36665 17.3167 9.99998 15.8334 11.0833 14.65C10.9166 14.2334 10.3333 12.5 11.25 10.25C11.25 10.25 12.65 9.80004 15.8333 11.95C17.15 11.5834 18.5833 11.4 20 11.4C21.4166 11.4 22.85 11.5834 24.1666 11.95C27.35 9.80004 28.75 10.25 28.75 10.25C29.6666 12.5 29.0833 14.2334 28.9166 14.65C30 15.8334 30.6333 17.3167 30.6333 19.1667C30.6333 25.5334 26.7333 26.9334 23.0166 27.35C23.6166 27.8667 24.1666 28.8834 24.1666 30.4334V35C24.1666 35.45 24.4333 35.9834 25.2833 35.8334C31.9 33.6 36.6666 27.3667 36.6666 20C36.6666 17.8113 36.2355 15.6441 35.398 13.622C34.5604 11.5999 33.3327 9.76257 31.7851 8.21493C30.2374 6.66728 28.4001 5.43963 26.378 4.60205C24.3559 3.76447 22.1887 3.33337 20 3.33337Z" fill="#333333"/>
            </g>
          </svg>
        </a>
      </div>
    </nav>
  </div>
  <aside>
    <small>Copyright © 2024 - All right reserved by xxxx Ltd</small>
  </aside>
</footer>
